.daftar {
    padding: 0;

    .kotak {
        background: linear-gradient(to bottom, rgba(white, 0.9), rgba(white, 0.8));
        padding: 16px;
        border-radius: 8px;
        border-top: 8px solid #46a56c;
        margin-bottom: 32px;
    }
    @keyframes dash {
        0%,
        100% {
            bottom: 0;
        }
        50% {
            bottom: -5px;
        }
    }
    .dashboard {
        position: absolute;
        animation: dash 2s linear infinite;
        // inset: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: 3;
        @media screen and (max-width: 768px) {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    @keyframes mobil1x {
        0% {
            bottom: 20vh;
            left: 0vw;
            width: 320px;
            opacity: 0;
        }
        10% {
            bottom: 20vh;
            left: 0vw;
            width: 320px;
            opacity: 1;
        }
        90% {
            bottom: 60vh;
            left: 44vw;
            width: 50px;
            opacity: 1;
        }
        100% {
            bottom: 60vh;
            left: 44vw;
            width: 50px;
            opacity: 0;
        }
    }

    @keyframes mobil1xmob {
        0% {
            width: 125px;
            bottom: 38vh;
            left: -26vw;
            opacity: 0;
        }
        10% {
            width: 125px;
            bottom: 38vh;
            left: -26vw;
            opacity: 1;
        }
        90% {
            width: 30px;
            bottom: 52vh;
            left: 36vw;

            opacity: 1;
        }
        100% {
            // bottom: 60vh;
            // left: 44vw;
            // width: 50px;
            width: 30px;
            bottom: 52vh;
            left: 36vw;

            opacity: 0;
        }
    }

    @keyframes mobil2x {
        0% {
            bottom: 20vh;
            right: 0vw;
            width: 360px;
            opacity: 0;
        }
        10% {
            bottom: 20vh;
            right: 0vw;
            width: 360px;
            opacity: 1;
        }
        90% {
            bottom: 60vh;
            right: 44vw;
            width: 50px;
            opacity: 1;
        }
        100% {
            bottom: 60vh;
            right: 44vw;
            width: 50px;
            opacity: 0;
        }
    }

    @keyframes mobil3x {
        0% {
            bottom: 45vh;
            width: 190px;
            right: 24vw;
            opacity: 0;
        }
        10% {
            bottom: 45vh;
            width: 190px;
            right: 24vw;
            opacity: 1;
        }
        90% {
            bottom: 61vh;
            width: 30px;
            right: 46vw;
            opacity: 1;
        }
        100% {
            bottom: 61vh;
            width: 30px;
            right: 46vw;
            opacity: 0;
        }
    }
    @keyframes mobil2xmob {
        0% {
            width: 180px;
            bottom: 38vh;
            right: -26vw;
            opacity: 0;
        }
        10% {
            width: 180px;
            bottom: 38vh;
            right: -26vw;
            opacity: 1;
        }
        90% {
            width: 60px;
            bottom: 52vh;
            right: 36vw;

            opacity: 1;
        }
        100% {
            // bottom: 60vh;
            // right: 44vw;
            // width: 50px;
            width: 60px;
            bottom: 52vh;
            right: 36vw;

            opacity: 0;
        }
    }
    @keyframes mobil3xmob {
        0% {
            width: 88px;
            bottom: 46vh;
            right: 8vw;
            opacity: 0;
        }
        10% {
            width: 88px;
            bottom: 46vh;
            right: 8vw;
            opacity: 1;
        }
        90% {
            width: 33px;
            bottom: 53vh;
            right: 42vw;
            opacity: 1;
        }
        100% {
            // bottom: 60vh;
            // right: 44vw;
            // width: 50px;
            width: 33px;
            bottom: 53vh;
            right: 42vw;

            opacity: 0;
        }
    }
    // width: 33px;
    // animation: initial;
    // bottom: 53vh;
    // right: 42vw;
    .mobil {
        position: absolute;
        width: 360px;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &-1 {
            bottom: 20vh;
            left: 0vw;
            animation: mobil1x 6s linear infinite;
            @media screen and (max-width: 768px) {
                width: 125px;
                animation: mobil1xmob 5s linear infinite;
                bottom: 38vh;
                left: -26vw;
            }
        }
        &-2 {
            bottom: 20vh;
            width: 360px;
            right: 0vw;
            animation: mobil2x 9s linear infinite;
            @media screen and (max-width: 768px) {
                width: 125px;
                animation: mobil2xmob 9s linear infinite;
                bottom: 38vh;
                right: -26vw;
                z-index: 3;
            }
        }
        &-3 {
            bottom: 45vh;
            width: 190px;
            right: 24vw;
            animation: mobil3x 8s linear infinite;
            @media screen and (max-width: 768px) {
                animation: mobil3xmob 8s linear infinite;
                width: 88px;
                bottom: 46vh;
                right: 8vw;
                z-index: 1;
            }
        }
    }
    @media screen and (max-width: 768px) {
        // padding: 32px 0 150px;
    }
    .wrap-detikx {
        // margin-top: -85vh;
        @media screen and (max-width: 768px) {
            // margin-top: -75vh;
        }
    }
    .image {
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0%;
        background: #a5dce6;
        // right: 27%;
        // bottom: 8%;
        // scale: 1.5;
        height: auto;
        @media screen and (max-width: 768px) {
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            @media screen and (max-width: 768px) {
                object-fit: cover;
            }
        }
    }
    .box-pom {
        width: fit-content;
        // margin-bottom: 16px;
        display: inline-block;
        width: 46%;
        margin: 8px;
        .name {
            // background: white;
            background: #7ac143;
            padding: 8px 16px;
            border-radius: 16px 16px 0 0;
            &.jkt {
                // background: #fb8c00 !important;
            }
            h4 {
                margin-bottom: 0;
                color: #f6f6f6;
                font-weight: 600;
            }
        }
        .bg-box {
            border-radius: 0 0 16px 16px;
            padding: 16px;
            background: rgba($color: #fff, $alpha: 0.7);
        }

        @media screen and (max-width: 768px) {
            width: 100%;
            display: block;
        }
        td {
            // font-size: 1.1rem;
            padding: 4px 8px;
            width: 50%;
            &:first-child {
                font-weight: 600;
            }
            &:last-child {
                width: 20%;
                img {
                    width: 40px;
                }
            }
            // text-align: center;
        }
    }

    .keterangan {
        // position: absolute;
        // left: 50%;
        // top: 50%;
        // translate: -50% -50%;
        .d-block {
            margin-bottom: 16px;
        }
    }
    .iconx {
        display: inline-block;
        width: 80px;
        height: 80px;
        @media screen and (max-width: 768px) {
            width: 55px;
            height: 55px;
        }
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 90px;
            translate: -50% -50%;
            height: 90px;
            background: #f6f6f6;
            border-radius: 50%;
            z-index: -1;
            @media screen and (max-width: 768px) {
                width: 65px;
                height: 65px;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .namex {
        display: inline-block;
        // margin-left: 8px;
        vertical-align: middle;
        font-weight: 600;
        font-size: 1.3rem;
    }
}

.sembunyiin {
    // opacity: 0;
    // height: 0;
    // display: none;
    section {
        min-height: 0;
        // height: 0;
        // padding: 0;
        opacity: 0;
        position: fixed;
    }
    .lol {
        position: relative !important;
        // height: auto !important;
        opacity: 1 !important;
    }
}

// .h0 {
//     height: 0;
// }
