.ev {
    background: linear-gradient(to bottom, #f4ff87 49%, #7cc5cf 33%);
    padding: 32px 0 0;
    // background: #f4ff87;
    @media screen and (max-width: 768px) {
        background: #f4ff87;
    }
    .bg-blue {
        // border-top: 3px solid #539199;
        @media screen and (max-width: 768px) {
            background: #7cc5cf;
        }
    }
    .image {
        @media screen and (max-width: 768px) {
            width: 100%;
            /* height: 50vh; */
            scale: 1.5;
            position: relative;
            left: 24%;
        }
        img {
            @media screen and (max-width: 768px) {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
