.ev {
    background: linear-gradient(to bottom, #f4ff87 24%, #7cc5cf 24%);
    padding: 32px 0 0;
    // background: #f4ff87;
    .sticky-mode {
        min-height: auto;
        @media screen and (max-width: 768px) {
            top: 30%;
        }
    }

    @media screen and (max-width: 768px) {
        background: #f4ff87;
    }
    .bg-blue {
        // border-top: 3px solid #539199;
        padding: 3rem 0;
        &::after {
            // content: "";
            // position: absolute;
            // inset: 0;
            // width: 100%;
            // height: 100%;
            // background-image: url("../img/bg-petir.png");
        }
        @media screen and (max-width: 768px) {
            background: #7cc5cf;
        }
    }
    .image {
        position: relative;
        right: -34%;

        @media screen and (max-width: 768px) {
            width: 100%;
            /* height: 50vh; */
            scale: 1.5;
            position: relative;
            top: 30%;
            left: 24%;
        }
        img {
            @media screen and (max-width: 768px) {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .ev-wrap {
        display: block;
        margin-bottom: 16px;
        .left-side {
            // display: inline-block;
            // width: 35%;
            width: fit-content;
            padding: 8px 16px;
            // background: white;
            // background: #dff3f7;
            background: #cfe2e6;
            display: block;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            .hahaha {
                display: inline-block;
                width: 40px;
                @media screen and (max-width: 768px) {
                    width: 30px;
                }
            }
            i {
                font-size: 2rem;
            }
            .judulv {
                display: inline-block;
                @media screen and (max-width: 768px) {
                    width: 85%;
                    margin-left: 8px;
                    vertical-align: top;
                }
                // width: 60%;
            }
        }
        .right-side {
            // display: inline-block;
            // width: 62%;
            background: rgba($color: #fff, $alpha: 0.9);
            // padding: 16px;
            // background: rgb(223 243 247);
            // background: white;
            padding: 16px;
            border-bottom: 3px solid #3f818f;
            p {
                // margin-bottom: 0;
            }
        }
    }
}

.ev-carx {
    padding: 0;
    .bg-warna {
        background: linear-gradient(-30deg, #78bdcd 65%, transparent 43%);
        @media screen and (max-width: 768px) {
            background: linear-gradient(-30deg, #78bdcd 60%, transparent 43%);
        }
    }
    .wraping {
        .all {
            table {
                td {
                    width: 45%;
                    vertical-align: top;
                    padding: 8px 0;
                    &:first-child {
                        font-weight: bold;
                    }
                }
            }
            margin-bottom: 24px;
            .judul {
                padding: 16px;
                // background: rgba($color: white, $alpha: 0.8);
                background: #f7f7f7;
                border-radius: 16px 16px 0 0;
                width: fit-content;
                h4 {
                    font-size: 1.4rem;
                    margin-bottom: 0;
                    @media screen and (max-width: 768px) {
                        font-size: 1.3rem;
                    }
                }
            }
            .details {
                padding: 16px;
                border-radius: 0 16px 16px 16px;
                // background: #ccc;
                background: rgba(#baeaec, 0.8);
            }
        }
    }
    .mobil {
        position: absolute;
        left: 8%;
        bottom: 8%;
        width: 150px;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .bg-nya {
        position: absolute;
        // inset: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;

        @media screen and (max-width: 768px) {
            height: 100%;
            left: 40%;
            scale: 2.5;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            @media screen and (max-width: 768px) {
                // object-fit: cover;
            }
        }
    }
    @keyframes ev {
        0% {
            top: -28vh;
            left: -16vw;
            // width: 50px;
            opacity: 0;
            // top: 0vh;
            // left: 0vw;
            // // width: 320px;

            // opacity: 0;
        }
        10% {
            top: -28vh;
            left: -16vw;
            // width: 50px;
            opacity: 1;
            // top: 0vh;

            // left: 0vw;
            // // width: 320px;
            // opacity: 1;
        }
        30% {
            // top: -28vh;
            // left: -16vw;
            // // width: 50px;
            // opacity: 1;
            top: 0vh;
            left: 0vw;

            // // width: 320px;
            opacity: 1;
        }

        90% {
            // top: -32vh;
            // left: -16vw;
            // // width: 50px;
            // opacity: 1;
            top: 0vh;
            // filter: drop-shadow(0 0 0.75rem #13726a);
            left: 0vw;
            // width: 320px;
            opacity: 1;
        }
        100% {
            top: 0vh;
            left: 0vw;
            // width: 320px;
            opacity: 0;
            // filter: drop-shadow(0 0 0.75rem #13726a);
        }
    }
    @keyframes neonz {
        0%,
        100% {
            filter: drop-shadow(0 0 0.75rem #13726a);
        }
        50% {
            filter: initial;
        }
    }
    .mobil-nya {
        // animation: ev 10s linear infinite;
        animation: neonz 1s linear infinite;
        position: absolute;
        // inset: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        @media screen and (max-width: 768px) {
            // animation: initial;
            scale: 2.5;
            left: 40%;
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
